/*
/.**

!/bin
!/bin/**

!/.profile
!/.bashrc
!/.bash_profile

!/.vimrc
!/.ideavimrc

!/.i3/
!/.i3/**

!/.Xmodmap
!/.Xmodmap.bak/
!/.Xmodmap.bak/**

!/.config/

!/.config/polybar/
!/.config/polybar/**

!.gitignore
!README.md
